body{
  background-color: grey;
  background-image: url("https://thumbs.dreamstime.com/b/earth-globus-map-d-globe-icon-world-symbol-blue-green-color-isolated-white-background-individual-continents-geography-176605014.jpg")
}

h1{
  font-family: helvetica;
  color: black;
  font-size: 40px;
}

h2{
  font-size: 25px;
  font-family: helvetica;
}

h3{
  font-size: 17px;
  font-family: helvetica;
}

table{
  background-color: black;
  border: 12px solid white;
  border-collapse: collapse;
  margin-left: auto; margin-right: auto;
}

th{
  color: white
}

td{
  color: white;
}

td:hover{
  background-color: brown;
}

td a:visited{
  color: red;
}
td a{
  text-decoration: none;
}

a:link{
  color: yellow;
}
